<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-autowire="byName" default-lazy-init="false">
	
	<context:property-placeholder location="classpath*:/config/redis.properties" ignore-unresolvable="true" />
	
	<context:component-scan base-package="com.ihidea.core.support.cache.redis" />

	<!-- jedis pool配置 -->  
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">  
		<!-- <property name="maxActive" value="${redis.maxActive}" />
		<property name="maxIdle" value="${redis.maxIdle}" />  
		<property name="maxWait" value="${redis.maxWait}" />   --> 
		<property name="testOnBorrow" value="${redis.testOnBorrow}" />  
	</bean>
  
	<!-- spring data redis -->  
	<bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">  
		<property name="usePool" value="true" />  
		<property name="hostName" value="${redis.host}" />
		<property name="port" value="${redis.port}" />
		<property name="password" value="${redis.pass}" />
		<property name="timeout" value="${redis.timeout}" />
		<property name="database" value="${redis.default.db}" />
		<constructor-arg index="0" ref="jedisPoolConfig" />
	</bean>
      
	<!-- key序列化使用String类型序列化 -->
	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate" p:connection-factory-ref="jedisConnectionFactory" >
		<!--
		<property name="KeySerializer">  
			<bean class="org.springframework.data.redis.serializer.StringRedisSerializer"></bean>
		</property>
		<property name="HashKeySerializer">  
			<bean class="org.springframework.data.redis.serializer.StringRedisSerializer"></bean>  
		</property>
		-->
	</bean>

</beans>
